<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995781555416-cnp3lr1ur2ab5ilbe53qjjpfd8vpd51l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995781555416-cnp3lr1ur2ab5ilbe53qjjpfd8vpd51l</string>
	<key>API_KEY</key>
	<string>AIzaSyBUyNCtI-VA-FfuQO_9HKcrb_6hZjzfamk</string>
	<key>GCM_SENDER_ID</key>
	<string>995781555416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storageFirebase</string>
	<key>PROJECT_ID</key>
	<string>gnchgf-v</string>
	<key>STORAGE_BUCKET</key>
	<string>gnchgf-v.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995781555416:ios:eec5f786faa2f14dcb53ad</string>
	<key>DATABASE_URL</key>
	<string>https://gnchgf-v.firebaseio.com</string>
</dict>
</plist>